{% extends "base.html" %}

<hr class="soften">
{% block content %}                                                                                   
<!-- Masthead
2 ================================================== -->
<header class="jumbotron">
<div class="inner">
<h1>The Inebriator</h1>
<h3>Getting Plasterrrrrred... The classy way</h3>
</div>

</header>
<hr class="soften">
<div class = "row-fluid video">
    <iframe width="420" height="315" src="http://www.youtube.com/embed/8N-qO3sPMjc" frameborder="0" allowfullscreen></iframe>
</div>
{% block eventContent %}
{% endblock %}
{% endblock %}
