{% extends "base.html" %}

<hr class="soften">
{% block content %}                                                                                   
<!-- Masthead
2 ================================================== -->
<header class="jumbotron">
<div class="inner">
<h1>The Inebriator</h1>
<h3>Getting Plasterrrrrred... The classy way</h3>
</div>

</header>
<hr class="soften">
<div class = "row-fluid">

<div class="span4">
<h2> temp1 </h2>
<p> a;lksdfmasdkfmsdfkm
</div>

<div class="span4">
<h2> temp2 </h2>
<p> alksdm;fadf
</div>

<div class="span4">
<h2> temp3 </h2>
<p> a;slkfmaklfma
</div>

{% block eventContent %}
{% endblock %}
{% endblock %}
