{% extends "base.html" %}
{% block content %}

{% block header %}
<!-- Header
================================================== -->
<header class="page-header">
  <div class="inner">
      <h1>Raspberry Pi
          <small>What drinks can you make with your raspberry Pi?</small>
      </h1>
</header>
{% endblock header %}

{% block sidebar %}
<!-- Sidebar
================================================== -->

<div class="container-fluid">
<div class="row-fluid">
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Filter</li>
            </ul>
          </div><!--/.well -->

        </div><!--/span-->
{% endblock sidebar %}

{% block articles %}
<div class="span8">
    <div class="well">
    <ul>
        <div class="results">
            <h3>Available Drinks:</h3>
            {% if results == "None" %}
                <div class="result_box well">
                    <p class="result_title">
                        No Results
                    </p>
                </div>
            {% else %}
                {% for drink in results %}
                    <div class="result_box well"> 
                        <h3 class="result_title"> {{drink.name}} </h3>
                        <p class="secondary_title">Directions</p>
                        <p> {{drink.directions}} </p>
                        <p class="secondary_title">Ingredients </p>
                        {% for ingredient in drink.ingredients.all %}
                            <p> {{ingredient.name}} </p>
                        {% endfor %}
                        <a href="/make/{{drink.name}}">Make this drink!</a> 
                    </div>
                {% endfor %}
            {% endif %}
    
        <!--<div class="results">-->
            <!--<h3>Available Drinks:</h3>-->
            <!--{% if results == "None" %}-->
                <!--<div class="result_box well">-->
                    <!--<p class="result_title">-->
                        <!--No Results-->
                    <!--</p>-->
                <!--</div>-->
            <!--{% else %}-->
                <!--{% for drink in results %}-->
                    <!--<div class="result_box well">-->
                        <!--<h4> {{ drink.name }} </h4>-->
                        <!--<p class="results_title">-->
                            <!--Ingredients:-->
                        <!--</p>-->
                        <!--{% for ingredient in drink.ingredients.all %}-->
                        <!--<p> {{ ingredient.name }}-->
                        <!--{% endfor %}-->
                        <!--<p class="result_title"> -->
                            <!--Directions:-->
                        <!--</p>-->
                    <!--</div>-->
                <!--{% endfor %}-->
            <!--{% endif %}-->
        </div>  
    </ul>
    </div> <!--/span -->
{% endblock articles %}

{% block footer %}
<!-- Bottom Page Markers, Prev, Next -->
<!--<div class="pagination">  -->
    <!--<ul>-->
        <!--{% if page > 1 %}-->
            <!--<li><a href="/blog/{{prev}}">Prev</a></li>-->
        <!--{% endif %}-->
        <!--{% for p in pagination %}-->
            <!--{% if p == page %}-->
                <!--<li class="active">  -->
                    <!--<a href="/blog/{{p}}">{{p}}</a>  -->
                <!--</li>-->
            <!--{% else %}-->
                <!--<li><a href="/blog/{{p}}">{{p}}</a></li>-->
            <!--{% endif %}-->
        <!--{% endfor %}-->
        <!--<li><a href="/blog/{{next}}">Next</a></li>  -->
    <!--</ul>  -->
<!--</div>-->  
</div> <!--well -->
{% endblock footer %}
{% endblock content %}


