{% extends "base.html" %}
{% block content %}

{% block header %}
<!-- Header
================================================== -->
<header class="page-header">
  <div class="inner">
      <h1>Search Engine Page
          <small>Search Engine</small>
      </h1>
</header>
{% endblock header %}

{% block sidebar %}
<!-- Sidebar
================================================== -->

<div class="container-fluid">
<div class="row-fluid">
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Filter</li>
            </ul>
          </div><!--/.well -->

        </div><!--/span-->
{% endblock sidebar %}

{% block search %}
<div class="span8">
    <div class="well">
        <ul>
            <h3> Drink Search: </h3>
            
            {% if form.errors %}
                <p style="color: red;">
                    Please correct the error{{ form.errors|pluralize }} below.
                </p>
            {% endif %}
            
            <form action="" method="post"> 
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Submit">
            </form>
            
            {% if results %} 
                <h3> Results: </h3>
                    {% if results == "None" %}
                        <p> No Results
                    {% else %}
                        {% for drink in results %}
                        <p> Name: {{ drink.name }}
                        {% endfor %}
                    {% endif %}
            {% endif %}
        </ul>
    </div> <!--/span -->
{% endblock search %}

{% block footer %}
<!-- Bottom Page Markers, Prev, Next -->
<!--<div class="pagination">  -->
    <!--<ul>-->
        <!--{% if page > 1 %}-->
            <!--<li><a href="/blog/{{prev}}">Prev</a></li>-->
        <!--{% endif %}-->
        <!--{% for p in pagination %}-->
            <!--{% if p == page %}-->
                <!--<li class="active">  -->
                    <!--<a href="/blog/{{p}}">{{p}}</a>  -->
                <!--</li>-->
            <!--{% else %}-->
                <!--<li><a href="/blog/{{p}}">{{p}}</a></li>-->
            <!--{% endif %}-->
        <!--{% endfor %}-->
        <!--<li><a href="/blog/{{next}}">Next</a></li>  -->
    <!--</ul>  -->
<!--</div> --> 
</div> <!--well -->
{% endblock footer %}
{% endblock content %}


