{% extends "base.html" %}
{% block content %}

{% block header %}
<!-- Header
================================================== -->
<header class="page-header">
  <div class="inner">
      <h1>Trending page
          <small>Most recently popular drinks</small>
      </h1>
</header>
{% endblock header %}

{% block sidebar %}
<!-- Sidebar
================================================== -->

<div class="container-fluid">
<div class="row-fluid">
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Filter</li>
            </ul>
          </div><!--/.well -->

        </div><!--/span-->
{% endblock sidebar %}

{% block articles %}
<div class="span8">
    <div class="well">
    <ul>
        <h3> Trends go here </h3>
    </ul>
    </div> <!--/span -->
{% endblock articles %}

{% block footer %}
<!-- Bottom Page Markers, Prev, Next -->
<!--<div class="pagination">  -->
    <!--<ul>-->
        <!--{% if page > 1 %}-->
            <!--<li><a href="/blog/{{prev}}">Prev</a></li>-->
        <!--{% endif %}-->
        <!--{% for p in pagination %}-->
            <!--{% if p == page %}-->
                <!--<li class="active">  -->
                    <!--<a href="/blog/{{p}}">{{p}}</a>  -->
                <!--</li>-->
            <!--{% else %}-->
                <!--<li><a href="/blog/{{p}}">{{p}}</a></li>-->
            <!--{% endif %}-->
        <!--{% endfor %}-->
        <!--<li><a href="/blog/{{next}}">Next</a></li>  -->
    <!--</ul>  -->
<!--</div>-->  
</div> <!--well -->
{% endblock footer %}
{% endblock content %}


