.modal-backdrop #beer {
    vertical-align:middle;
    width:330px;
    height:270px;
    left:35%;
    margin:0 0;
    position:relative;
}
.required .alert {
    display:inline-block;
    margin-top:10px;
}
.optional .alert {
    display:inline-block;
    margin-top:10px;
}
.optional, .required {
    margin-bottom:10px;
}
#ingredient_entry {
    margin-left:10px;
    margin-bottom:10px;
}
.result_title {
    font-weight:bold;
    color:blue;
}
